
{% extends "base.html" %}

{% block main %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

        <form action="{% url 'tareas:new_task' %}" method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal">Que estas haciendo?</h1>
            <input type="text" id="id_newtask" name="id_newtask" class="form-control" placeholder="Nueva tarea" required autofocus>
            <br>
            <input type="submit" value="Hagamoslo" />
        </form>
    </div>
    <h2>Actividades de hoy</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Duracion</th>
                  <th>Tarea</th>
                  <th>Total</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody>
                {% for task in user_tasks %}
                  {% for t in task.tracking %}
                <tr>
                    <td>{{ t.time_start }} - {{ t.time_end }}</td>
                    <td>{{ task.name }}</td>
                    {% if t.is_open %}
                      <td>En proceso</td>
                      <td><a href="/tareas/{{ t.id }}/stop/">Parar</a></td>
                    {% else %}
                      <td>Concluido</td>
                      <td><a href="/tareas/{{ t.id }}/start/">Reanudar</a></td>
                    {% endif %}
                </tr>
                  {% endfor %}
                {% endfor %}
              </tbody>
            </table>
          </div>
</main>

{% endblock %}
