{% load static %}

<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Registro de tareas</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/signin.css" %}" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="form-signin">
      <img class="mb-4" src="{% static "images/todo.png" %}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Sesion terminada</h1>
      <a href={% url 'login' %} class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</a>
      <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
    </div>
  </body>
</html>

